@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

html.dark {
  color-scheme: dark;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
@media (pointer: fine) {
  * {
    cursor: none !important;
  }
}

